html, body {
    height: 100%;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

div {
    width: 50%;
    height: 50%;
    float: left;
    /* overflow: hidden; */
}

.column-left {
    float: left;
    /* width: 50%; */
    width: 33.333%;
    /* height: 50vh; */
}

.column-right {
    float: left;
    width: 77%;
    position: relative;
    left: 66.666%;
    /* height: vh; */
    /* overflow: hidden; */
}

.column-center {
    display: inline-block;
    width: 33.333%;
    /* width: 50%; */
    position: relative;
    /* left: 17%; */
    /* height: 49vh; */
}

#pubHealthDept {
    height: 50vh;
    position: relative;
    bottom: 100%;
    width: 100%;
    border-top-width: 0px;
    border-left-width: 2px;
    border-right-width: 0px;
    border-bottom-width: 0px;
}

.centered {
    text-align: center;
    margin-top: 0px;
}

.heart {
    color: #e25555;
}

#footer {
    all: unset;
    text-align: center;
}

/* .twitter-timeline div {
    height: 100% !important;
    width: 100%;
    overflow: scroll !important;
    overflow: auto;
} */

/* #twitter-widget-holder {
    max-height: 100%;
    max-width: 100%;
    padding: 20px;
    background: #fff;
    border-radius: 3px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, .1);
} */